<nav>
    <img src="../images/Screenshot 2024-04-27 214041-fotor-20240427214821.png" alt="Museum logo" class="lll">
    <a href="#home" class="nav-a">HOME</a>
    <a href="#contact" class="nav-a">CONTACT US</a>
    <a href="#about" class="nav-a">ABOUT US</a>
    <a href="/signup" class="nav-a" id="logintext">LOGIN</a>
    <span id="loginpic" style="display: none;">
        <img src="../images/login-logo.jpg" alt="Login Picture" style="width: 30px; height: 40px; padding-top: 5px; border-radius:8px;">
    </span>
    <a href="#booking" class="nav-a">BOOK A TOUR-GUIDE</a>
    <span id="search-link" class="nav-a">SEARCH</span>
    <div class="search-container" id="search-container" style="display: none;">
        <input type="text" id="search-input" placeholder="Search...">
        <button id="search-button">Search</button>
    </div> 

 
</nav>
