@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.image-container {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000; 
}
#inner
{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000; 
    background-color: #ccc;
    border-radius: 100px; 
}
.image-container img {
    width: 100px; 
}
video{
    display: block;
    margin: 0 auto;
    width:100%;
    height: 100%;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    top: 0px;
}
.box1{
    position: relative;
    display: flex;
    flex: 1px 1px;
    height: 100%;
    width: 100%;
    background-color: azure;
    margin: 10px 0px;
    justify-content: center;
}
.shadowBox{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    background-color: rgba(3, 5, 6, 0.601);
    z-index: 150;
}
.boxV{
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    padding: 40px 0px;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    background-color: rgba(3, 5, 6, 0.601);
    z-index: 100;
    transform: translate(-50%, -50%);
    
}
button{
    background-color: wheat;
    border-radius: 20px;
    padding: 5px;
    border: 0px;
}
button:hover{
    color:whitesmoke;
    background-color: gold;
    transition: 0.3s;
}
.container{
  display:flex;
  position: absolute;
  width:100%;
  left: 0px;
  top:0px;
  bottom:0px;
  background-color: rgba(3, 5, 6, 0.601);
  color:white;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.ttt{
    padding: 20px;
    width: 70%;
    margin: auto;
    background-color: rgba(0,0,0,0);
}
#xxx{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: rgba(246, 206, 127, 0.453);
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.text1{
    padding:10px;
}
body{
    margin: 0px;
}
a{
    position: relative;
    top: 10px;
    color: black;
    text-decoration: none;
    padding:10px;
    padding-top: 0px;
}
a:hover{
    color: gold;
    transition: all 0.5s ease-out;
}
nav{
    text-align: right;
    position: fixed;
    width:100%;
    margin: 0px;
    background-color: rgba(245, 245, 220, 0.421);
    z-index: 200;
    overflow: hidden;
    top: 0px;
}
.lll{
    height: 50px;
    width: 50px;
    margin: 0px;
    float: left;
    margin-top: 0px;
    margin-left: 10px;
}
.fff{
   
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin: 0px;
    background-size: 100% 100%;
    position: static;
}
.photofff{
    width: 20px;
    height: 20px;
}
/* .footer-div
{
    display: flex;
} */
footer{
    display: flex;
    flex-direction: row; 
    margin: 60px;
    margin-left: 27%;
    margin-right: 27%;
} 
.footer-item{
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px 0px 200px;
}
.booking-body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000; 
}
.swiper
{
    width: 400px;
} 
.booking-card
{
    position: relative;
    background: #000;
    border: 3px solid #ffa424;
    border-radius: 20px;
    width: 50%; 
}
.booking-card::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffa424;
    clip-path: circle(30% at 0 0);
    border-top-left-radius: 10px;
}
.booking-card .aboutMe
{
    overflow: hidden;
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}
.booking-card .booking-image
{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
.booking-card .booking-image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #000;
}
.booking-card .card-content
{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
.booking-card .social-media
{
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.booking-card .social-media i
{
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.booking-card .social-media i:hover
{
    color: #ffa424;
}
.booking-card .name-profession
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    color: #fff;
}
.name-profession .name
{
    font-size: 20px;
    font-weight: 600;
}
.name-profession .profession
{
    font-size: 15px;
    font-weight: 500;
}
.booking-card .rating
{
    display: flex;
    align-items: center;
    margin-top: 18px;
}
.booking-card .rating i
{
    font-size: 18px;
    color: #ffa424;
    margin: 0 2px;
}
.booking-card .book-btn
{
    display: flex;
    justify-content: space-around;
    width: 110%;
    margin-top: 20px;
}
.booking-card .book-btn button
{
    background: #ffa424;
    border: none;
    outline: none;
    color: #000;
    font-weight: 600;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s; 
}
.booking-card .book-btn button:hover
{
    background: #fff;
}