<!DOCTYPE html>
<html lang="en">

  <head>

    <title>Alexandria National Museum</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../css/map-testing.css">
    <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="./images/favicon-32x32.png"
  />
  <link rel="stylesheet" href="../css/style.css">
  </head>
    

  <body>
    <section>  <div class="blurry-container">
        <div class="blurry-background" style="background-image: url('https://i.pinimg.com/564x/42/89/fa/4289fa5c99f2bf1c0e99c67ae742ed5e.jpg')"></div>
        <div class="text-overlay">
          <h1 style="color: beige; font-size: 20px;">Alexandria National Museum</h1><br>
          <h2 style="color: beige; font-size: 15px;"> Echoes of Alexandria's Glory</h2><br>
          <p style="color: beige; font-size: 10px;" >  31st December 2003 </p>
        </div>
    </div>
    <div id="bar">
    <nav id="ahh" >
        
        <a href="#overview">Overview</a>
        <a href="#details">Famous Monuments</a>
        <a href="#comments-section">Comments</a>
    </nav></div>
    <hr></section>
    <br>
    <br>
    <section id="overview" class="section-content">
      <div id="text-over" >
                <h1 >Alexandria National Museum</h1><br>
                   <h2 > Echoes of Alexandria's Glory</h2><br>
                   <p >  31st December 2003 </p>
                <br>
                <p id="paragraph">
                    The Alexandria National Museum, founded in 2003, stands as a testament to the city's 
                     rich and diverse history. Situated in a stunning Italianate-style building, it serves as a 
                     treasure trove of artifacts, spanning various epochs and civilizations. From ancient 
                     Egyptian relics to artifacts from the Greco-Roman period, Islamic art, 
                      and Coptic treasures, the museum offers a comprehensive 
                      journey through Alexandria's past. <br>

                    Visitors can immerse themselves in the maritime history of the city, exploring 
                     exhibits on Alexandria's significance as a hub of trade and culture. The museum also 
                      showcases the architectural wonders of Alexandria, highlighting its role as a melting pot 
                       of different cultures and influences. <br>
                    
                    Through its carefully curated exhibits, the Alexandria National Museum provides insights 
                     into the city's vibrant past, celebrating its cultural heritage and its contributions to human  
                     civilization. Whether you're interested in ancient history, art, or archaeology, the museum offers 
                     something for everyone, making it a must-visit destination for anyone seeking to explore the rich tapestry of 
                     Alexandria's history. <br></p>
        
              </div>
              <div class="ticket-box">
                <h3>Book a Ticket</h3>
                <p>Explore the wonders of ancient Egypt. Book your tickets now!</p>
                <button>Book Now</button>
            </div>
        
    </section>
    <section class="famous-monuments"id="details">
      <br>
      <span class="before-hr">Famous Monuments</span>
        <hr id="line">
        <br>  <br> <br> 
 
    <div class="swiper-container">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
              <img class="image-margin" src="https://i.pinimg.com/564x/53/22/39/532239114dbc0d9ba7573fae6babbd2e.jpg" alt="Slide 1">
             <div class="swiper-text">
                     <!--   <h2>The Golden Mask of Tutankhamun</h2>-->
                        <p> A regal depiction of the iconic queen, showcasing her beauty and power as the last ruler of the Ptolemaic Kingdom of Egypt.
                        </p>
                    </div>
          </div>
          <div class="swiper-slide">
              <img class="image-margin" src="https://live.staticflickr.com/1965/44610813004_5492bdaf2e_b.jpg "alt="Slide 2">
              <div class="swiper-text">
              <!--  <h2>The Narmer Palette</h2>-->
                <p>Serapis was a Greco-Egyptian deity who was worshipped as a god of healing, fertility, and the afterlife. The statue is an important artifact reflecting the cultural fusion of the Hellenistic and Egyptian traditions during the Ptolemaic period.






                </p>
            </div>
          </div>
          <div class="swiper-slide">
              <img class="image-margin" src="https://i.pinimg.com/564x/64/2c/51/642c519aed75edaa8ec6a97620cdfa74.jpg" alt="Slide 3">
              <div class="swiper-text">
               <!-- <h2>The Statue of Ramses II</h2>-->
                <p> The Medusa Mosaic, is a captivating piece depicting the mythical figure of Medusa, known for her hair of snakes and petrifying gaze. This mosaic, intricately crafted with colorful tesserae, reflects the rich artistic heritage of the ancient Mediterranean world, showcasing both beauty and terror.</p>
            </div>
          </div>
          <div class="swiper-slide">
            <img class="image-margin" src="https://i.pinimg.com/564x/25/ef/ef/25efef146d698e53855e39ba09a992d9.jpg" alt="Slide 3">
            <div class="swiper-text">
             <!-- <h2>The Statue of Khafre</h2>-->
              <p>The Alexandria National Museum houses a collection of Egyptian sarcophagi, which were used to encase and preserve the bodies of the deceased in ancient Egypt. These elaborately decorated coffins often depict scenes from Egyptian mythology and religious beliefs, offering valuable insights into ancient Egyptian culture, burial practices, and beliefs about the afterlife. The sarcophagi serve as important artifacts for studying the funerary customs and religious beliefs of ancient Egypt.</p>
          </div>
        </div> <div class="swiper-slide">
          <img  src="https://st.depositphotos.com/8272416/55833/i/450/depositphotos_558332744-stock-photo-alexandria-egypt-november-2021-ancient.jpg" alt="Slide 3">
          <div class="swiper-text">
           <!-- <h2>The Bust of Nefertiti</h2>-->
            <p>Fine examples of Greek pottery adorned with intricate designs and mythological motifs, illustrating the artistic achievements of ancient Greek civilization.
            </p>
        </div>
      
</div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
  </div>
    </section>

    


    
    <section id="comments-section" class="reviews-section">



            <div class="container-comment">
              <div class="container__left">
                <h1>"Discover why countless visitors choose to explore this museum.

                  
                </h1>
                <p>
                  With a diverse array of exhibits and interactive displays, it caters to various interests, ensuring each guest finds something to admire
                </p>
                <p>
                  The commitment to providing enriching experiences has garnered praise from thousands of guests annually. Families bond, friends debate, and individuals reflect within its walls, creating cherished memories that last a lifetime.
                </p>
                <p>
                  Join the satisfied reviewers. Leave a comment now .
                </p>
                
              </div>
              <div class="container__right">
                <div class="card">
                  <div class="rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    
                  </div>
                  <div class="card__content">
                    <span><i class="ri-double-quotes-l"></i></span>
                    <div class="card__details">
                      <p>
                        Captivating artifacts, interactive displays, and engaging tours.
                      </p>
                      <h4>- Zeina Mohamed</h4>
                    </div>
                  </div>
                </div>
                <div class="card">
                  
                  <div class="rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>
                  <div class="card__content">
                    <span><i class="ri-double-quotes-l"></i></span>
                    <div class="card__details">
                      <p>
                        Well-curated collections, stunning architecture, and memorable experiences.
                      </p>
                      <h4>- Mariam shaddad</h4>
                    </div>
                  </div>
                </div>
	<div class="card">
	
		<form action="#">
			<div class="rating">
				<input type="number" name="rating" hidden>
				<i class='bx bx-star star' style="--i: 0;"></i>
				<i class='bx bx-star star' style="--i: 1;"></i>
				<i class='bx bx-star star' style="--i: 2;"></i>
				<i class='bx bx-star star' style="--i: 3;"></i>
				<i class='bx bx-star star' style="--i: 4;"></i>
			</div>
			<textarea name="opinion" cols="30" rows="5" placeholder="Your opinion..."></textarea>
			<div class="btn-group">
				<button type="submit" class="btn submit">Submit</button>
				<button class="btn cancel">Cancel</button>
			</div>
		</form>
	</div>
              </div>
         </div>
      

  
</div>
    
</section>
<footer class="footer">
  <div class="footer-container">
    <div class="row">
      <div class="footer-col" id="footer-col1">
        <div class="map-container">
          <a href="#" class="link"><h4>Alexandria National Museum</h4></a>
          <div id="map"></div></div>
      </div>
    
      <div class="footer-col" id="footer-col2">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/AlexandriaNationalMuseum?mibextid=LQQJ4d"><i class="fab fa-facebook-f"></i></a>
          <a href="https://x.com/alexandria_nm?s=11&t=ahQ36uT6oM6_I3pMHnewvQ"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/explore/locations/250440551/alexandria-national-museum?igsh=YTFoeHNuYm80N2c="><i class="fab fa-instagram"></i></a>
          <a href="https://youtu.be/-ptKfZO6USA?si=mYhfmZxGbwBTmL31"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
  </div>
</footer>


<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="../js/js file"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYfgrabCkaQmKOH2VWYnRREOKAk7M43Ow&loading=async&callback=initMap" >
    </script>
    <script src="../js/map-testing.js"></script>
  </body>

</html>