<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%= title %></title>
    <link rel="stylesheet" href="../css/styles.css">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <!-- <link rel="stylesheet"href="m.css"> -->
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="Icon"  href="../images/Screenshot 2024-04-27 214041-fotor-20240427214821.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    
   <!-- <title>Tourify - Home</title>-->
</head>
<body>
    
        <nav>
            <img src="../images/Screenshot 2024-04-27 214041-fotor-20240427214821.png" alt="Museum logo" class="lll">
            <a href="#home" class="nav-a">HOME</a>
            <a href="#contact" class="nav-a">CONTACT US</a>
            <a href="#about" class="nav-a">ABOUT US</a>
            <a href="/signup" class="nav-a" id="logintext">LOGIN</a>
            <span id="loginpic" style="display: none;">
                <img src="../images/login-logo.jpg" alt="Login Picture" style="width: 30px; height: 40px; padding-top: 5px; border-radius:8px;">
            </span>
            <a href="#booking" class="nav-a">BOOK A TOUR-GUIDE</a>
            <span id="search-link" class="nav-a">SEARCH</span>
            <div class="search-container" id="search-container" style="display: none;">
                <input type="text" id="search-input" placeholder="Search...">
                <button id="search-button">Search</button>
            </div>
            <!-- <label>
                <input type="checkbox">
                <div class="toggle">
                    <span class="top_line common"></span>
                    <span class="mid_line common"></span>
                    <span class="bottom_line common"></span>
                </div>
                <div class="nav1">
                    <h1 class="n">Menu</h1>
                    <ul>
                        <li><a href="#highlights" class="a-toggle">explore</a></li>
                        <li><a href="#museums" class="a-toggle">museums</a></li>
                        <li><a href="m.html" class="a-toggle">categories</a></li>
                        <li><a href="chatbot.html" class="a-toggle">chatbot</a></li>
                        <li><a href="#map" class="a-toggle">map</a></li>
                    </ul>
                </div>
            </label> -->
        </nav>
       
        
        <div id="search-results-container"></div>
    </header>

    <section id="home" class="parallax">
        <div class="parallax-container">
            <img src="../images/sky.png" id="background" class="parallax-img">
            <img src="../images/saharabg.png" id="sah2" class="parallax-img">
            

            <img src="../images/pyramid.png" id="2p" class="parallax-img">


            <img src="../images/saharagr.png" id="sah1" class="parallax-img">
            <img src="../images/sphinx0.png" id="sphinx" class="parallax-img">

            <img src="../images/door.png" id="door" class="parallax-img">
            <div class="text-container" id="text1">
                <h2 id="text">Welcome <br>to Tourify
                </h2>
                <h4 id="text">Your door to the world</4>
            </div>

        </div>
    </section>

    <section id="museums">
    
          <h1 class="text-header">Museums</h1>
  
        <div class="container-museum">

            <div class="slide">
    
                
                <div class="item" style="background-image: url(https://i.pinimg.com/564x/52/26/fb/5226fb81560b1145afc4bea0e8919bff.jpg);">
                    <div class="content">
                        <div class="name">The Egyptian Museum in Cairo </div>
                        <h3 class="museum-rating">
                            <span>4.5</span>
                            <div class="rating">
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                            </div>
                          </h3>
                          <a href="EgyptianMuseumInCairo.html" class="button-link">See More</a>
                    </div>
                </div>
                <div class="item" style="background-image: url(https://images.squarespace-cdn.com/content/v1/56c13cc00442627a08632989/1589748843269-75TRXGEE5UBOBUH1BRTE/luxormuseum.jpg);">
                    <div class="content">
                        <div class="name">   Luxor Museum </div>
                        <h3 class="museum-rating">
                            <span>4.5</span>
                            <div class="rating">
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                            </div>
                          </h3>
                          <a href="LuxorMuseum.html" class="button-link">See More</a>
                    </div>
                </div>
                <div class="item" style="background-image: url(https://i.pinimg.com/564x/42/89/fa/4289fa5c99f2bf1c0e99c67ae742ed5e.jpg);">
                    <div class="content">
                        <div class="name">Alexandria National Museum </div>
                        <h3 class="museum-rating">
                            <span>4.5</span>
                            <div class="rating">
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                            </div>
                          </h3>
                          <a href="AlexandriaNationalMuseum.html" class="button-link">See More</a>
                    </div>
                </div>
                <div class="item" style="background-image: url(https://www.abpan.com/wp-content/uploads/2013/05/natural-history-elephant-1024x682.jpg);">
                    <div class="content">
                        <div class="name">Smithsonian Museum </div>
                        <h3 class="museum-rating">
                            <span>4.5</span>
                            <div class="rating">
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                            </div>
                          </h3>
                          <a href="SmithsonianMuseum.html" class="button-link">See More</a>
                    </div>
                </div>
                <div class="item" style="background-image: url(https://d3rr2gvhjw0wwy.cloudfront.net/uploads/mandators/49581/file-manager/karnak-temple.jpg);">
                    <div class="content">
                        <div class="name">   Karnak Temple </div>
                        <h3 class="museum-rating">
                            <span>4.5</span>
                            <div class="rating">
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                            </div>
                          </h3>
                          <a href="KarnakTemple.html" class="button-link">See More</a>
                    </div>
                </div>
                <div class="item" style="background-image: url(https://i.pinimg.com/564x/01/9b/a3/019ba3b1dd0e6a58c87d37074c259bc6.jpg);">
                    <div class="content">
                        <div class="name">Greco-Roman Museum Of Alexandria </div>
                        <h3 class="museum-rating">
                            <span>4.5</span>
                            <div class="rating">
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                            </div>
                          </h3>
                          <a href="Greco-RomanMuseumOfAlexandria.html" class="button-link">See More</a>

                    </div>
                </div>                <div class="item" style="background-image: url(https://i.pinimg.com/564x/b7/f7/0f/b7f70fe84c747c2a8d451e8e07db6caf.jpg);">
                    <div class="content">
                        <div class="name">    The Coptic Museum</div>
                        <h3 class="museum-rating">
                            <span>4.5</span>
                            <div class="rating">
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                            </div>
                          </h3>
                          <a href="TheCopticMuseum.html" class="button-link">See More</a>
                    </div>
                </div>                <div class="item" style="background-image: url(https://images.museumwnf.org/full/museums/eg/1/2.jpg);">
                    <div class="content">
                        <div class="name">   Museum of Islamic Art in Cairo </div>
                        <h3 class="museum-rating">
                            <span>4.5</span>
                            <div class="rating">
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                            </div>
                          </h3>
                          <a href="MuseumofIslamicArtinCairo.html" class="button-link">See More</a>
                    </div>
                </div>                <div class="item" style="background-image: url(https://cdn.londonandpartners.com/asset/british-museum_museum-frontage-image-courtesy-of-the-british-museum_f0b0a5a3c53f8fc1564868c561bd167c.jpg);">
                    <div class="content">
                        <div class="name">  British Museum </div>
                        <h3 class="museum-rating">
                            <span>4.5</span>
                            <div class="rating">
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                              <ion-icon name="star"></ion-icon>
                            </div>
                          </h3>
                          <a href="BritishMuseum.html" class="button-link">See More</a>
                    </div>
                </div>
    
            </div>
    
            <div class="button">
                <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
                <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
    
        </div>
      </section>
 
    <section class="wide-card-section">
        <div class="wide-card">
            <a href="map-tetsing.html">
                <img src="../images/earth.png" alt="Wide Image" id="map">
            </a>
        </div>
    </section>
    <section class="highlight-section" id="highlights">
        <div class="container">
            <h2 class="section-title">Highlights</h2>
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!-- Swiper Slides -->
                    
                    <!-- Card 2 -->
                    <div class="swiper-slide">
                        <div class="card" onclick="openImageTab('Mummy masks were part of an elaborate burial ritual in ancient Egypt dating back thousands of years. The Egyptians believed that death was an interruption, rather than an end to life, and as a result they took many precautions to ensure the deceased was welcomed in the afterlife. Bodies were prepared to receive the ba, or spirit, and a mask would be placed over the head and shoulders of the mummy so that the spirit could recognize its host. The mask did not present a portrait of the individual, but instead showed a youthful, idealized image of what he or she would look like in the next world. The mummy and mask were then placed in a series of painted wooden coffins and surrounded by food, tools, and gifts. The masks were made from linen and plaster, and painted with images of the gods and spells to protect the body. Many masks were gilded to symbolize divinity, because the sun god Ra was believed to have a body of pure gold.', '../images/smithonian.png', 'Mummy Mask')">
                            <div class="card-title">Mummy Mask</div>
                            <div class="card-content">
                                <img src="../images/smithonian.png" alt="Mummy Mask">
                            </div>
                        </div>
                    </div>
                    <!-- Card 3 -->
                    <div class="swiper-slide">
                        <div class="card" onclick="openImageTab('Brass (heavily leaded zinc-brass) head cast using the lost wax (cire perdue) technique. The head is a little under life size and is made in a naturalistic style. It has a headdress, suggesting a crown, of complex construction. The main tubular section of the crown runs around the head in a three-layer composition. The upper layer has a band of four horizontal rectangles representing flat, discoidal beads surmounted by a red-painted tubular bead and a tasssel. The central layer has a row of vertical rectangles representing tubular beads with tassels. The lower layer has a row of rosettes painted in red. The main tubular section of the crown also has a projecting arc around the forehead comprising small tubular beads edged with a row of red-painted feathers. At the back of the crown is a neck cover. The central part of the cover has eighteen vertical elements incised to indicate plaitwork with traces of black paint. The bottom and sides have a row of red-painted rosettes. A crest rises above the central crown at the front. It comprises a conical roundel with central boss surrounded by seven concentric rings, problably representing beads. A plaitwork element rises behind the roundel, it terminates in a pointed ovoid tip; both elements bear traces of black paint The face is slightly elongated and has vertical incised markings (striations). Two lines of holes run between the lobes of the ears, one going through the angle of the neck and the jaw, the second crossing the jaw below the lower lip  A double line of holes runs across the upper lip. The almond-shaped eyes are small in proportion to the head and the eyebrow-ridge is sharply defined. The lips are not striated. There are grooves round the front of the neck representing skin creases. There are holes pierced through the neck at the front and at both sides. There is a large irregular hole on the right proper side of the jaw.', '../images/asian.png', 'The Ife Head')">
                            <div class="card-title">African</div>
                            <div class="card-content">
                                <img src="../images/asian.png" alt="African">
                            </div>
                        </div>
                    </div>
                    <!-- Card 4 -->
                    <div class="swiper-slide">
                        <div class="card" onclick="openImageTab('Rosetta Stone', '../images/rosseta.png', 'Rosetta')">
                            <div class="card-title">Rosetta</div>
                            <div class="card-content">
                                <img src="../images/rosseta.png" alt="Rosetta">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card" onclick="openImageTab('The vase', '../images/vase.png', 'vase')">
                            <div class="card-title">vase</div>
                            <div class="card-content">
                                <img src="../images/vase.png" alt="vase">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <!-- Card 1 -->
                        <div class="card" id="c1"  onclick="openImageTab('The Great Sphinx of Giza is a limestone statue of a reclining sphinx, a mythical creature with the body of a lion and the head of a human. It is the oldest known monumental sculpture in Egypt and is commonly believed to have been built by ancient Egyptians of the Old Kingdom during the reign of the Pharaoh Khafre (c. 2558–2532 BC). The Sphinx is located on the west bank of the Nile River in Giza, Egypt, facing due east, with a small temple between its paws.', '../images/Sphinxx.png', 'Sphinx')">
                            <div class="card-title">Sphinx</div>
                            <div class="card-content">
                                <img src="../images/Sphinxx.png" alt="Sphinx">
                            </div>
                        </div>
                    </div>
                </div>

                
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Navigation -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </section>
    <div class="booking-body">
        <section class="book-card" id="booking">
            <div class="swiper mySwiper booking-container">
                <div class="swiper-wrapper booking-content">
                    
                    <div class="swiper-slide booking-card">
                        <div class="card-content">
                            <div class="booking-image">
                                <img src="../images/TourGuide1.jpeg" alt="Tour Guide Pic">
                            </div>
    
                            <div class="social-media">
                                <i class="fa-brands fa-facebook"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-whatsapp"></i>
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Ahmed</span>
                                <span class="profession">Tour Guide</span>
                                <br><br>
                                <span class="about">I will make your trip extraordinary, so pack your things up and let's go!</span>
                            </div>
    
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
    
                            <div class="book-btn">
                                <a href="booking.html" target="_blank"><button class="BookMe">Book Tour-Guide</button></a>
                            </div>
                            <div>
                                <h4>Someone Name</h4>
                                <h5>I am tour guide for 5 years 
                                    I will show you around the city
                                </h5>
                                <div class="close-btn">&times;</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide booking-card">
                        <div class="card-content">
                            <div class="booking-image">
                                <img src="../images/TourGuide2.jpeg" alt="Tour Guide Pic">
                            </div>
    
                            <div class="social-media">
                                <i class="fa-brands fa-facebook"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-whatsapp"></i>
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Sara</span>
                                <span class="profession">Tour Guide</span>
                                <br><br>
                                <span class="about">I love travelling a lot, so guiding you through the city is just a pice of cake for me and we'll enjoy our time together!</span>
                            </div>
    
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
    
                            <div class="book-btn">
                                <a href="booking.html" target="_blank"><button class="BookMe">Book Tour-Guide</Tour-Guide></button></a>
                            </div>
                            <div class="aboutMe">
                                <h4>Someone Name</h4>
                                <h5>I am tour guide for 5 years 
                                    I will show you around the city
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide booking-card">
                        <div class="card-content">
                            <div class="booking-image">
                                <img src="../images/TourGuide3.jpeg" alt="Tour Guide Pic">
                            </div>
    
                            <div class="social-media">
                                <i class="fa-brands fa-facebook"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-whatsapp"></i>
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Ema</span>
                                <span class="profession">Tour Guide</span>
                                <br><br>
                                <span class="about">I will guide you through your trips, We can go where ever you want I have completed 10+ tours</span>
                            </div>
    
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
    
                            <div class="book-btn">
                                <a href="booking.html" target="_blank"><button class="BookMe">Book Tour-Guide</Tour-Guide></button></a>
                            </div>
                            <div class="aboutMe">
                                <h4>Someone Name</h4>
                                <h5>I am tour guide for 5 years 
                                    I will show you around the city
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide booking-card">
                        <div class="card-content">
                            <div class="booking-image">
                                <img src="../images/TourGuide4.jpeg" alt="Tour Guide Pic">
                            </div>
    
                            <div class="social-media">
                                <i class="fa-brands fa-facebook"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-whatsapp"></i>
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Joe</span>
                                <span class="profession">Tour Guide</span>
                                <br><br>
                                <span class="about">I will guide you through your trips, We can go where ever you want I have completed 10+ tours</span>
                            </div>
    
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
    
                            <div class="book-btn">
                                <a href="booking.html" target="_blank"><button class="BookMe">Book Tour-Guide</Tour-Guide></button></a>
                            </div>
                            <div class="aboutMe">
                                <h4>Someone Name</h4>
                                <h5>I am tour guide for 5 years 
                                    I will show you around the city
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide booking-card">
                        <div class="card-content">
                            <div class="booking-image">
                                <img src="../images/TourGuide5.jpeg" alt="Tour Guide Pic">
                            </div>
    
                            <div class="social-media">
                                <i class="fa-brands fa-facebook"></i>
                                <i class="fa-brands fa-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-whatsapp"></i>
                            </div>
    
                            <div class="name-profession">
                                <span class="name">Kareem</span>
                                <span class="profession">Tour Guide</span>
                                <br><br>
                                <span class="about">Travelling through this city is my game, so I will show you the hidden gems of this amazing city cause that's my speciallity</span>
                            </div>
    
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
    
                            <div class="book-btn">
                                <a href="../images/booking.html" target="_blank"><button class="BookMe">Book Tour-Guide</Tour-Guide></button></a>
                            </div>
                            <div class="aboutMe">
                                <h4>Someone Name</h4>
                                <h5>I am tour guide for 5 years 
                                    I will show you around the city
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        <div class="swiper-button-next swiper-nav"></div>
        <div class="swiper-button-prev swiper-nav"></div>
        <div class="swiper-pagination"></div>
        </section>
    </div>
       
    
        <div class="image-container">
            <div id="inner">
                <a href="chatbot.html">
                    <img src="../images/307415.png" alt="Chat-Bot Image">
                </a>
            </div>
        </div>
    
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="../javascript/booking.js"></script>
    <section class="video-section">
        <div class="video-container">
            <video autoplay muted loop class="video">
                <source src="../images/tourify.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="video-overlay"></div>
        </div>
        <div class="info-container">
            <p class="info-text">Tourify is a way to connect a tour guide with a tourist. The site provides vivid descriptions for museums, historical sites, and more, ensuring you have an enriching and informative travel experience.</p>
        </div>
    </section>
    <div>
        <footer>
            <div id="footer">
           <!-- <div class="footer-item">-->
            <h4 id="contact">Contact Us</h4>
            <img src="../images/Location.png" alt="Location Icon" class="photofff">
            <a href="">Egypt, New Cairo</a>
            <br><br><br>
            <img src="../images/call.png" alt="Call Icon" class="photofff">
            <a href="">+20 10*****96</a>
            <br><br><br>
            <img src="../images/R.png" alt="Email Icon" class="photofff">
            <a href="">Tourify@yahoo.com</a>
            </div>
            <div class="footer-item">
                <h4 id="about">About</h4>
                <br>
                <p>Welcome to Tourify, your key to Egypt's hidden treasures! Explore the country's lesser-known historic and cultural wonders, from ancient sites to hidden gems. Our platform offers curated listings and tour guide booking services to help you discover Egypt's best-kept secrets. Chat with our helpful chatbot for personalized travel tips and embark on a journey of discovery with Tourify.</p>
                <br><br><br>
                <img src="../images/facebook.png" alt="facebook" class="photofff">
                <img src="../images/instagram.png" alt="instagram" class="photofff">
                <img src="whatsapp.png" alt="Whatsapp" class="photofff">
                <img src="../images/tiktok.png" alt="tiktok" class="photofff">
                <img src="../images/twitter.png" alt="Twitter" class="photofff">
            </div>
            </div>
        </footer>
    </div>
    
    
    <!-- Swiper JS -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <!-- External Script -->
    <script src="../js/script.js" defer></script>
    <script src="../js/search.js" defer></script>
    <script src="../js/aimohem.js" defer></script>

</body>
</html>
