<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TourifyAd</title>
    <link rel="stylesheet" href="/css/tourifyad.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container-logo">
                <div class="logo">
                    <span class="logo-icon">☥</span> 
                    <span class="logo-text">Tourify</span>
                </div>
                <button class="logout-btn">Logout</button>
            </div>
        </nav>
    </header>
    
    <div class="title-wrapper">
        <h1 class="title">Welcome, Admin!</h1>
    </div>
    <div class="container">
        <div class="card-slider-container">
            <div class="card-slider">
                <div class="cards-wrapper">
                    <a class="card active" data-function="Manage Museums" href="/admin/museums">
                        <img src="/images/museumsad.png" alt="Museum">
                    </a>
                    <a class="card active" data-function="Manage Highlights" href="/admin/highlights">
                        <img src="/images/highlightsad.png" alt="Highlights">
                    </a>
                    <a class="card active" data-function="Manage Tour Guides" href="/admin/tourguides">
                        <img src="/images/tourguidead.png" alt="Tour Guides">
                    </a>
                    <a class="card active" data-function="Manage Map" href="/admin/map">
                        <img src="/images/Location.png" alt="Map">
                    </a>
                    <a class="card active" data-function="Manage Categories" href="/admin/categories">
                        <img src="/images/categories.png" alt="Categories">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <button class="prev-btn">&lt;</button>
    <button class="next-btn">&gt;</button>
    <script src="/js/tourifyad.js"></script>
</body>
</html>
