
body{
    background-color: black;
    color: aliceblue;
    font-family: Arial, sans-serif;
}

#map {
    height: 400px;
    width: 100%;
}

.content-user a{
    text-decoration: none;
    text-align: center;
    color: aliceblue;
}


.content-user {
    margin-bottom: 10px;
}


.content-user img{
    width: 95%;
    height:200px;
    border-radius: 7px;
    display: block;
    margin: 0 auto;
    transition: transform 0.2s;
}


.museums {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
}


.museums .content-user {
     margin-left: 5px;
    margin-bottom: 5px;
   
    box-sizing: border-box;
     text-align: center;
    width: calc(33% - 10px);
     transition: transform 0.2s;
}

.musems .content-user:hover{
    transform:scale(1.05);
}

@media(max-width:750px){
    .musems .content-user{
        width: calc(50%-10px);
    }
}

@media (max-width: 480px) {
    .museums .content-user {
        width: calc(100% - 10px);
    }
}
